[centos-full]
	path = {{ mirror_local_path }}
	comment = The official CentOS Mirror
        exclude = FOOTER.html
        list = no
	hosts allow = {% for host in groups['hostgroup-role-mirror'] %}{{ hostvars[host].ip }} {% if hostvars[host].ipv6 is defined %}{{ hostvars[host].ipv6 }} {% endif %}{% endfor %}

	hosts deny = *

