<VirtualHost *:80>
     ServerAdmin webmaster@centos.org
     ServerName master-admin.centos.org
     ServerAlias master-adming.centos.org
     DocumentRoot {{ mirror_local_path }}
     Alias "/9-stream" "{{ mirror_stream_local_path }}/9-stream"
     Alias "/SIGs" "{{ mirror_stream_local_path }}/SIGs"

     <Directory "{{ mirror_local_path }}">
     <IfVersion < 2.4>
        Order allow,deny
        Allow from {% for ip in master_httpd_allow_from %}{{ ip }} {% endfor %}

     </IfVersion>
     <IfVersion >= 2.4>
       Require ip {% for ip in master_httpd_allow_from %}{{ ip }} {% endfor %}

     </IfVersion>
     </Directory>

     <Directory "{{ mirror_stream_local_path }}">
     <IfVersion < 2.4>
        Order allow,deny
        Allow from {% for ip in master_httpd_allow_from %}{{ ip }} {% endfor %}

     </IfVersion>
     <IfVersion >= 2.4>
       Require ip {% for ip in master_httpd_allow_from %}{{ ip }} {% endfor %}

     </IfVersion>
     </Directory>

</VirtualHost>

